<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex-bar-middle oj-sm-margin-4x-horizontal oj-sm-align-items-center">
      <!-- Please Change the following for company specific logo   -->
      <span class="oj-typography-heading-lg oj-sm-margin-2x-end oj-icon-color-warning oj-ux-ico-box"
        title="Application Logo"
        alt="Application Logo"></span>
      <h1 class="oj-typography-body-md oj-typography-semi-bold" title="Application Name">OpenAI Chat
      </h1>
    </div>
  </div>
</header>