/**
 * To theme your application, just override the variable values you want to change. To find which variables can be changed,
 * see the JET documentation at https://www.oracle.com/webfolder/technetwork/jet/jsdocs/CssVariablesOverview.html
 * In general, we recommend using the Stable theme, as it reduces the chances of being impacted by changes over time.
 */
 
 :root {
    /* --oj-html-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; */
    /* --oj-html-font-size:   1em; */
 }
