{
    "openapi": "3.0.0",
    "info": {
        "title": "ords",
        "version": "1.0",
        "x-vb": {
            "transforms": {
                "path": "./transforms.js"
            }
        }
    },
    "servers": [
        {
            "url": "https://apex.oracle.com/pls/apex/sample_ords_rest/hr",
            "description": "Sample Ords REST HR"
        }
    ],
    "paths": {
        "/employees/": {
            "get": {
                "operationId": "getEmployees",
                "parameters": [
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEmployees"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getEmployees/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany",
                    "queryParameters": {}
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetEmployees": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rn": {
                                    "type": "integer"
                                },
                                "empno": {
                                    "type": "integer"
                                },
                                "ename": {
                                    "type": "string"
                                },
                                "job": {
                                    "type": "string"
                                },
                                "hiredate": {
                                    "type": "string"
                                },
                                "mgr": {
                                    "type": "integer"
                                },
                                "sal": {
                                    "type": "integer"
                                },
                                "comm": {
                                    "type": "integer"
                                },
                                "deptno": {
                                    "type": "integer"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}